@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}


html{font-size: 10px;}

*{margin: 0; padding: 0; box-sizing: border-box;}

a{text-decoration: none; color: #000;}

ol,ul{list-style: none;}

table{border-collapse: collapse; width: 100%;}

address, caption, em{font-style: normal;}

caption,legend{display: none;}

input, select, fieldset, button{border: 0; outline: none; vertical-align: top;}

img{vertical-align: top; border: 0;}