@charset "utf-8";

#sub-v{position: relative;}
#sub-v img{width: 100%; object-fit: cover;}
#sub-v .s-txt{position: absolute; top: 400px; left: 400px; text-align: left;}
#sub-v .s-txt h2{line-height: 1.2; font-size: 5rem; font-weight:600; color: #fff; 
  padding: 0 0 30px;}

#brand{background: url(../img/sub_bg.jpg)no-repeat center/cover;}
#brand .inner{max-width: 1600px;}
#brand .container{display: flex; justify-content: space-between; flex-wrap: wrap;
 align-items: center; padding: 50px;}
#brand .container > div{width: calc(100% / 2); margin: 20px 0;}
#brand .brand-txt{font-size: 2rem; font-weight: 600; padding: 20px;}
#brand .brand-img img{object-fit: cover; width: 100%;}
#brand .container span{font-size: 2.2rem; font-weight: 800; color: #000;}

#new{position: relative; padding: 100px;}
#new img{width: 100%;}
#new .btn-menu{position: absolute; width: 24px; height: 24px; top: 60px; right: 60px; 
  background: url(../img/btn_menu.png)no-repeat center; cursor: pointer; transition: all 1s;}
#new .btn-menu a{font-size: 0; }
#new .btn-menu:hover{transform: rotate(90deg);}

@media (max-width:1200px) {
  #sub-v .s-txt{top: 250px; left: 200px;}
  #sub-v .s-txt h2{font-size: 4rem;}
  #brand .container > div{width: 100%;}
}

@media (max-width:768px) {
  #sub-v .s-txt{top: 200px; left: 100px;}
  #sub-v .s-txt h2{font-size: 3.5rem;}
  #brand .brand-txt{padding: 0; margin: 0;}
  #new{padding: 50px;}
  }